.page {
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  background-color: #2A2C2F;
  max-width: 1600px;
  min-width: 320px;
  min-height: 1000px;
  margin: 0 auto;
  padding: 28px 0 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* border: 1px solid yellow; */
}
@media screen and (max-width: 320px) {
  .page {
    padding: 16px 0 24px;
  }
}
