.header__logo {
  width: 176px;
  height: 52px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 1px solid white; */
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
