.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 760px){
  .lead__title {
    width: calc(100% - 2 * 24px);
    font-size: 45px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: calc(100% - 2 * 16px);
  }
}
