.footer__item {
  margin: 0 18px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
}

.footer__item:last-child {
  margin-right: 0;
}

/* Перестраиваем список колонкой и увеличиваем интервал */
@media screen and (max-width: 649px) {
  .footer__item {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
}

